<%= form_for([ @chapter.book, @chapter, @exam]) do |f| %>
  <% if @exam.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@exam.errors.count, "error") %> prohibited this exam from being saved:</h2>

      <ul>
      <% @exam.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <div class = "options">
    <%= f.fields_for :answers, @exam.answers  do |ff| %>
      <div>
            <%- puts "*"*100 %>
        <%- p ff.object.base_test %>
        <%= render ff.object.base_test %>

      </div>

       <div class="field">

    <%= ff.label :answer %><br />
    <%= ff.text_field :answer, :autocomplete => :off %>
  </div>



    <%- end %>
  </div>




  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
